@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text: rgb(255, 255, 255);
    --color-background: rgb(3, 3, 18);
    --color-primary: rgb(17, 135, 232);
    --color-secondary: rgb(221, 44, 44);
    --color-accent: rgb(219, 208, 208);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
