@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: rgb(3, 3, 18);
    --background: rgb(237, 237, 252);
    --primary: rgb(221, 44, 44);
    --secondary: rgb(255, 255, 255);
    --accent: rgb(17, 218, 232);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}